<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Check your path here...-->
		<add key="fileUploadDir" value="d:\invaliddirectory\UploadedPhotos"/>
	</appSettings>
	<connectionStrings>
		<add name="LinkItemsConnectionString" connectionString="Data Source=localhost;Initial Catalog=Photos;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="PhotoManagerService.PhotoManagerService" behaviorConfiguration="serviceBehavior">
				<endpoint address="PhotoManagerService" contract="PhotoManagerService.IPhotoUpload" binding="basicHttpBinding"/>
				<endpoint address="PhotoManagerService" contract="PhotoManagerService.IPhotoUpload" binding="netTcpBinding"/>
				<endpoint address="PhotoManagerService" contract="PhotoManagerService.IPhotoManagerService" binding="basicHttpBinding"/>
				<endpoint address="PhotoManagerService" contract="PhotoManagerService.IPhotoManagerService" binding="netTcpBinding"/>
				<endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000"/>
						<add baseAddress="http://localhost:8000"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<client>

		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>