<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Counters.CounterService" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost"/>
						<add baseAddress="net.tcp://localhost:9000"/>
						<add baseAddress="http://localhost:8000"/>
					</baseAddresses>
				</host>
				<endpoint address="netPipe" binding="netNamedPipeBinding" contract="Counters.ICounterService" />
				<endpoint address="netTcp" binding="netTcpBinding" contract="Counters.ICounterService" />
				<endpoint address="CounterServiceBasicHttp" binding="basicHttpBinding" contract="Counters.ICounterService" />
				<endpoint address="wsHttpNoSession" binding="wsHttpBinding" contract="Counters.ICounterService"  bindingConfiguration="wsHttpNoSession"/>
				<endpoint address="wsHttpSecureSession" binding="wsHttpBinding" contract="Counters.ICounterService" bindingConfiguration="wsHttpSecureSession"/>
				<endpoint address="wsHttpReliableSession" binding="wsHttpBinding" contract="Counters.ICounterService"  bindingConfiguration="wsHttpReliableSession"/>
				
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpNoSession">
					<security>
						<message establishSecurityContext="false"/>
					</security>	
				</binding>
				<binding name="wsHttpSecureSession">
					<security>
						<message establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="wsHttpReliableSession">
					<reliableSession enabled="true"/>
					<security>
						<message establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>