<?xml version="1.0"?>
<configuration >
	<appSettings>
		<!--Check your path here...-->
		<add key="fileUploadDir" value="d:\LearningWCF\Labs\UploadedPhotos"/>
	</appSettings>
	<connectionStrings>
		<add name="LinkItemsConnectionString" connectionString="Data Source=localhost;Initial Catalog=Photos;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="PhotoManagerService.PhotoManagerService" behaviorConfiguration="serviceBehavior">
				<endpoint address="Soap11" contract="PhotoManagerService.IPhotoUpload" binding="basicHttpBinding"/>
				<endpoint address="Soap12" contract="PhotoManagerService.IPhotoUpload" binding="wsHttpBinding"/>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- This <diagnostics> section should be placed inside the <system.serviceModel> section. In addition, you'll need to add the <system.diagnostics> snippet to specify service model trace listeners and a file for output. -->
		<diagnostics performanceCounters="All" wmiProviderEnabled="true" >
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100000"  />
		</diagnostics>
	</system.serviceModel>
	<!-- This <system.diagnostics> section illustrates the use of a shared listener for service model output. It requires you to also add the <diagnostics> snippet for the <system.serviceModel> section. -->
	<system.diagnostics >
		<sharedListeners>
			<add name="sharedListener" 
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="c:\logs\servicetrace.svclog" />
		</sharedListeners>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" >
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
</configuration>
