<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp" transactionFlow="false" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8000/CountersService" binding="wsHttpBinding"
                bindingConfiguration="wsHttp" contract="CountersClient.localhost.ICountersService"
                name="wsHttp">
				<identity>
					<userPrincipalName value="mlbvista\mlb" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>