<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.serviceModel>
		<services>
			<service name="RoleBasedServices.SecureService" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress ="net.tcp://localhost:9000/RoleBasedServices/" />
					</baseAddresses>
				</host>				
				<endpoint name="SecureService" binding="netTcpBinding" contract="RoleBasedServices.ISecureService"/>
			</service>
		</services>
	 <bindings>
		 <netTcpBinding>
			 <binding name="netTcp">
				 <security mode="Message">
					 <transport clientCredentialType="Windows" protectionLevel="None"/>
				 </security>
			 </binding>
		 </netTcpBinding>
	 </bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false"/>
					<serviceAuthorization impersonateCallerForAllOperations="false"  principalPermissionMode="UseWindowsGroups" />
					<serviceCredentials >
						<windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="true" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>