<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="data source=localhost;Initial Catalog=aspnetdb;Integrated Security=True; " providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms"/>
		<roleManager enabled="true"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation></system.web>
	<system.serviceModel>
		<services>
			<service name="ClaimsBasedServices.CrudService" behaviorConfiguration="serviceBehavior">
				<endpoint contract="ClaimsBasedServices.ICrudService" binding="wsHttpBinding" bindingConfiguration="wsHttp"/>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceAuthorization principalPermissionMode="Custom" >
						<authorizationPolicies>
							<add policyType="ClaimsBasedSecurityComponents.ClaimsAuthorizationPolicy, ClaimsBasedSecurityComponents"/>
						</authorizationPolicies>
					</serviceAuthorization>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="MembershipProvider"/>
						<serviceCertificate findValue="RPKey" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
