<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Messaging.MessagingService" >
				<endpoint address="http://localhost:8000/MessagingService" contract="Messaging.IMessagingService" binding="wsHttpBinding"  bindingConfiguration="wsHttp"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp">
					<security>
						<message establishSecurityContext="false"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>