<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Messaging.MessagingService" behaviorConfiguration="serviceBehavior">
				<endpoint contract="Messaging.IMessagingService" binding="netTcpBinding" />
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000"/>
						<add baseAddress="http://localhost:8000"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>