<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.serviceModel>
		<services>
			<service name="RoleBasedServices.SecureService" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress ="net.tcp://localhost:9000/RoleBasedServices/" />
					</baseAddresses>
				</host>				
				<endpoint name="SecureService" binding="netTcpBinding" contract="RoleBasedServices.ISecureService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>