<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mediaPath" value="D:\LearningWCF\Labs\SupportingFiles\SampleMedia"/>
	</appSettings>
  <system.serviceModel>
    <services>
      <service name="MediaManagerService.MediaManagerService" behaviorConfiguration="serviceBehavior">
		  <endpoint address="MediaManager" contract="MediaManagerService.IMediaManagerService" binding="basicHttpBinding" />
		  <endpoint address="MediaStream" contract="MediaManagerService.IMediaStreaming" binding="basicHttpBinding" bindingConfiguration="basicHttpStreaming"/>
		  <endpoint address="MediaStream" contract="MediaManagerService.IMediaStreaming" binding="netTcpBinding" bindingConfiguration="netTcpStreaming"/>
		  <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
		  <host>
			  <baseAddresses>
				  <add baseAddress="http://localhost:8000"/>
				  <add baseAddress="net.tcp://localhost:9000"/>
			  </baseAddresses>
		  </host>
	  </service>
    </services>
	  <bindings>
		  <netTcpBinding>
			  <binding name="netTcpStreaming" transferMode="Streamed" maxReceivedMessageSize="40000000">
			  </binding>
		  </netTcpBinding>
		  <basicHttpBinding>
			  <binding name="basicHttpStreaming" messageEncoding="Mtom" maxReceivedMessageSize="40000000" transferMode="Streamed">
			  </binding>
		  </basicHttpBinding>
	  </bindings>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="serviceBehavior">
				  <serviceMetadata httpGetEnabled="true"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
  </system.serviceModel>
</configuration>

