<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="BusinessServices.ServiceA" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000"/>
						<add baseAddress="net.tcp://localhost:9000"/>
					</baseAddresses>
				</host>
				<endpoint address="Admin" contract="BusinessServiceContracts.IAdmin" 
		  binding="netTcpBinding" />
				<endpoint address="ServiceA" contract="BusinessServiceContracts.IServiceA" 
		  binding="basicHttpBinding"  />
				<endpoint address="ServiceA" contract="BusinessServiceContracts.IServiceA" 
		  binding="netTcpBinding"  />
			</service>
			<service name="BusinessServices.ServiceB" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8001"/>
						<add baseAddress="net.pipe://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="Admin" contract="BusinessServiceContracts.IAdmin" 
		  binding="netNamedPipeBinding" />
				<endpoint address="ServiceB" contract="BusinessServiceContracts.IServiceB" 
		  binding="basicHttpBinding"  />
				<endpoint address="ServiceB" contract="BusinessServiceContracts.IServiceB" 
		  binding="netNamedPipeBinding"  />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>