<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:9000/ServiceA" 
		contract="BusinessServiceContracts.IServiceA" binding="netTcpBinding"  />
			<endpoint address="net.tcp://localhost:9000/Admin" 
		contract="BusinessServiceContracts.IAdmin" binding="netTcpBinding" name="TCP_IAdmin" />
			<endpoint address="net.pipe://localhost/ServiceB" 
		contract="BusinessServiceContracts.IServiceB" binding="netNamedPipeBinding"  />
			<endpoint address="net.pipe://localhost/Admin" 
		contract="BusinessServiceContracts.IAdmin" binding="netNamedPipeBinding" name="IPC_IAdmin"/>
		</client>
	</system.serviceModel>

</configuration>