<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Messaging.MessagingService" behaviorConfiguration="serviceBehavior" >
				<endpoint address="MessagingService" contract="Messaging.IMessagingService" binding="netTcpBinding" />
				<endpoint address="mex" contract="IMetadataExchange" binding="mexTcpBinding" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9100"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior" >
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>