<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp">
					<security>
						<message establishSecurityContext="false"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
            <endpoint address="http://localhost:8000/MessagingService"
                binding="wsHttpBinding" bindingConfiguration="wsHttp"
                contract="WinClient.localhost.IMessagingService" name="wsHttp" />
        </client>
    </system.serviceModel>
</configuration>