<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpNoSession">
					<security>
						<message establishSecurityContext="false"/>
					</security>
				</binding>
				<binding name="wsHttpSecureSession">
					<security>
						<message establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="wsHttpReliableSession">
					<reliableSession enabled="true"/>
					<security>
						<message establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
        
		<client>
            <endpoint address="net.pipe://localhost/netPipe" binding="netNamedPipeBinding"
                contract="WinClient.localhost.ICounterService" name="netPipe">
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/netTcp" binding="netTcpBinding"
                contract="WinClient.localhost.ICounterService"
                name="netTcp">
            </endpoint>
            <endpoint address="http://localhost:8000/CounterServiceBasicHttp"
                binding="basicHttpBinding" 
                contract="WinClient.localhost.ICounterService" name="basicHttp" />
            <endpoint address="http://localhost:8000/wsHttpNoSession" binding="wsHttpBinding"
                bindingConfiguration="wsHttpNoSession" contract="WinClient.localhost.ICounterService"
                name="wsHttpNoSession">
            </endpoint>
            <endpoint address="http://localhost:8000/wsHttpSecureSession"
                binding="wsHttpBinding" bindingConfiguration="wsHttpSecureSession"
                contract="WinClient.localhost.ICounterService" name="wsHttpSecureSession">
            </endpoint>
            <endpoint address="http://localhost:8000/wsHttpReliableSession"
                binding="wsHttpBinding" bindingConfiguration="wsHttpReliableSession"
                contract="WinClient.localhost.ICounterService" name="wsHttpReliableSession">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>